node_modules/
storage/clientLog.json
storage/playlist.json
storage/defaultTwitch.json
storage/suggestionBox.json
storage/twitterFolk.json
config/
nodemon.json
package-lock.json
config.json
commands/test.js
.vscode
settings.json
