node_modules/
storage/clientLog.json
storage/playlist.json
storage/defaultTwitch.json
storage/suggestionBox.json
storage/twitterFolk.json
storage/userStats
storage/RPG
config/
nodemon.json
package-lock.json
config.json
.vscode
settings.json
storage/twitchFolk.json
sprites/*
commandsStandard/test.js
